
body {
  background: black;
  padding: 6px;
}

.datasets {
  color: white;

  width: 100%;

  td {
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    vertical-align: top;

    ul {
      list-style-type: none;
      padding: 0;
    }
  }
}

.downloaded-and-recent {
  background: darkgreen;
}

.downloaded-and-old {
  background: darkgoldenrod;
}

.not-downloaded {
  background: darkred;
}
